*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
} 
.clearfix::after{
    content: "";
    display: table;
    clear: both;
} 

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.container{ 
    border: 3px solid black;
    width: 50%;
}

#logo{
    width:230px;
    border-right: 2px solid silver;
    padding: 5px;
}

ol{
    padding: 0;
    margin-top: 20px;
}
li{
    margin: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    list-style: none;
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
    color: silver;
}

#jumbo{
    height:500px;
	padding:50px;
	border-radius:10px;
	position:relative;
	background:url(../img/banner.jpg) center / cover;
}

.jumbo-text{
    bottom: 40px;
    width: 55%; 
    text-align: left;
    /* color: whitesmoke; */
}

#top-section{
    padding:20px 0
}

h2{
    font-size: 35px;
}


